asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.0
Django==4.1
django-baton==2.4.1
django-jazzmin==2.5.0
django-nested-admin==3.4.0
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
Pillow==9.2.0
psycopg2-binary==2.9.3
python-monkey-business==1.0.0
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.11
