{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Ayarlarım</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Settings</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <!-- start course content container -->
                        <div class="mu-course-container">
                            <div class="row">
                                <div class="col-sm-5 mt-5" style="margin: 50px 0px">

                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action disabled"
                                            style="color:red">Istifadəçi
                                            adı -
                                            {{ user.username }}</a>
                                        <a href="{% url 'setting' %}" onmouseover="doActive(this)" onmouseout="doPassive(this)"
                                            class="list-group-item list-group-item-action ">Şəxsi məlumat</a>
                                        <a href="{% url 'change_password' %}" onmouseover="doActive(this)"
                                            onmouseout="doPassive(this)"
                                            class="list-group-item list-group-item-action active">Şifrə</a>
                                        <!-- <a href="#" onmouseover="doActive(this)" onmouseout="doPassive(this)" class="list-group-item list-group-item-action">Ayarlar</a>
                                        <a href="#" onmouseover="doActive(this)" onmouseout="doPassive(this)" class="list-group-item list-group-item-action">Sertifikatlarım</a> -->
                                        <a href="{% url 'logout' %}" onmouseover="doActive(this)"
                                            onmouseout="doPassive(this)"
                                            class="list-group-item list-group-item-action">Çıxış</a>
                                    </div>
                                </div>
                                <div class="col-sm-7 mt-5" style="margin: 50px 0px">
                                    <form>

                                        <div class="contentform">
                                            <div id="sendmessage"> Your message has been sent successfully. Thank you.
                                            </div>


                                            <div class="form-group">
                                                <p>Hazırki parol<span>*</span></p>
                                                <span class="icon-case"><i class="fa fa-unlock"></i></span>
                                                <input type="password" name="nom" id="nom" data-rule="required"
                                                    data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." />
                                                <div class="validation"></div>
                                            </div>

                                            <div class="form-group">
                                                <p>Yeni parol <span>*</span></p>
                                                <span class="icon-case"><i class="fa fa-key"></i></span>
                                                <input type="password" name="prenom" id="prenom" data-rule="required"
                                                    data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." />
                                                <div class="validation"></div>
                                            </div>

                                            <div class="form-group">
                                                <p>Yeni parolun təkrarı <span>*</span></p>
                                                <span class="icon-case"><i class="fa fa-lock"></i></span>
                                                <input type="password" name="email" id="email" data-rule="email"
                                                    data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
                                                <div class="validation"></div>
                                            </div>


                                            <button type="submit" class="bouton-contact">Send</button>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}