{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static %}
{% block content %}
<section class="login-register ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="main-title">Daxil olun</h1>
            </div>
            <div class="col-xs-12">
                <div class="form">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 justify-content-center align-items-center text">
                            <div class=" alert-success">
                                Bərpa ilə bağlı mail, göstərilən mail ünvanına göndərildi. Xahiş olunur mailinizi yoxlayasınız.
                            </div>
                            
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <figure class="row">
                                <img src="https://ilkaddimlar.com/t/ia/images/bg/subscribe.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

