{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="login-register ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="main-title">Daxil olun</h1>
            </div>
            <div class="col-xs-12">
                <div class="form">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 justify-content-center align-items-center">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <!-- <input type="email" placeholder="Your Email" class="form-control">
                                <input type="text" placeholder="Password" class="form-control"> -->
                                {% for field in form %}
                                <div class="form-group">    
                                    {{field.label_tag}}                              
                                    {{field}}
                                    <ul>
                                    {% for error in field.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                                <input type='submit' id="submit" name='submit' value='Daxil ol'>
                                <a href="{% url 'register' %}"><button type="button" class="btn btn-primary">Hesab yarat</button></a>
                            </form>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <figure class="row">
                                <img src="https://ilkaddimlar.com/t/ia/images/bg/subscribe.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}