{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="login-register ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="register-form col-sm-8 col-xs-12 justify-content-center align-items-center">
                            <h1 class="main-title">Qeydiyyat formu</h1>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                {% for field in form %}
                                <div class="form-group">    
                                    {{field.label_tag}}                              
                                    {{field}}
                                    <ul>
                                    {% for error in field.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                                <input type='submit' id="submit" name='submit' value='Qeydiyyatdan keç'>
                            </form>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}