{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<section class="gl">

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {{ author.name }}
                
                {% if author.image %}
                <div id="placeholder" style="width: 60px; height: 60px; border: 1px solid black; background-image: url(https://i.picsum.photos/id/639/200/300.jpg?hmac=dITw9zyqi0A4tZ6lMk191HJezQPJDDKG4wyJXadYRH0{{ author.image }}')"></div>
                
                {% endif %}

                {% if author.about %}
                {{ author.about }}
                {% endif %}

                {% if author.linkedin %}
                {{ author.linkedin }}
                {% endif %}

                {% if author.twitter %}
                {{ author.twitter }}
                {% endif %}

                {% if author.facebook %}
                {{ author.facebook }}
                {% endif %}

            </div>

        </div>
    </div>

</section>
{% endblock %}