{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>{{ author.name }}</h2>
          <ol class="breadcrumb">
           <li><a href="{% url 'authors' %}">Bütün müəllimlər</a></li>           
           <li class="active" >{{ author.name }}</li>
         </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb -->

<section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
           <div class="row">
             <div class="col-lg-3 col-md-4" >
               <div class="mu-latest-course-single">
                 <figure class="mu-latest-course-img">
                   <a href=""><img src="{{author.image.url }}" alt="img" width="340" height="250"></a>
                   <figcaption class="mu-latest-course-imgcaption">
                   </figcaption>
                 </figure>
               </div> 
             </div>
             <div class="col-lg-9 col-md-8" >
              <div class="mu-latest-course-single">
                <div class="mu-latest-course-single-content">
                  <h4><a href="">{{ author.name }}
                    {% if author.is_verified %}
                    <i style="color: green;" class="fa fa-check-circle-o" aria-hidden="true"></i>
                    {% else %}
                    <i style="color: white;" class="fa fa-check-circle-o" aria-hidden="true"></i>
                    {%endif%}
                  </a></h4>
                  <div>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                  <p>Tədris etdiyi sahə: <span>{{ author.speciality}}</span></p>
                  <div class="mu-latest-course-single-contbottom">
                    {{ author.about }}
                  </div>

                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <ol class="breadcrumb">
            <li>Müəllimin tədris etdiyi kurslar</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->

 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              {% if author.author_courses.all %}
              {% for course in author.author_courses.all %}

              <div class="col-lg-3 col-md-4" >
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="{% url 'single_courses' slug=course.slug%}"><img src="{{course.image.url }}" alt="img" width="340" height="250"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="{% url 'single_courses' slug=course.slug%}">{{ course.category }}</a>
                      <span><i class="fa fa-clock-o"></i>{{course.course_duration|time:"H:i:s"}}</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="{% url 'single_courses' slug=course.slug%}">{{ course.title }}</a></h4>
                    <p>{{ course.description|truncatechars:141}}</p>
                    <div class="mu-latest-course-single-contbottom">
                      <span class="mu-course-price" href="">{{ course.discounted_price }}</span>
                    </div>
                  </div>
                </div> 
              </div>

              {% endfor %}
              {% else %}
              <h3> Hal-hazırda müəllimin tədris etdiyi kurs yoxdur ...</h3>
              {% endif %}
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <ol class="breadcrumb">     
           <li>{{ author.speciality }} üzrə tədris edən digər müəllimlər</li>
         </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb -->

 <section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
           <div class="row">
            {% if related_authors %}
             {% for author in related_authors %}

             <div class="col-lg-3 col-md-4" >
               <div class="mu-latest-course-single">
                 <figure class="mu-latest-course-img">
                   <a href=""><img src="{{author.image.url }}" alt="img" width="340" height="250"></a>
                   <figcaption class="mu-latest-course-imgcaption">
                     <a href="">Kurs sayı:</a>
                     <span><i class="fa fa-list-ol"></i>{{for_course_count.number_of_courses}}</span>
                   </figcaption>
                 </figure>
                 <div class="mu-latest-course-single-content">
                   <h4><a href="{% url 'author_detail' slug=author.slug%}">{{ author.name }}</a></h4>
                   <p>{{ author.about|truncatechars:50 }}</p>
                   <div class="mu-latest-course-single-contbottom">
                     <a class="mu-course-details" href="">{{author.name}}</a>
                     {% if author.is_verified %}
                     <span class="mu-course-price" href=""><i style="color: green;" class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                     {% else %}
                     <span class="mu-course-price" href=""><i style="color: white;" class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                     {%endif%}
                   </div>
                 </div>
               </div> 
             </div>

             {% endfor %}

             {% else %}
             <h3> Hal-hazırda {{ author.speciality }} üzrə tədris edən digər müəllim yoxdur ...</h3>
             {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}