{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>{{ course.title }}</h2>
           <ol class="breadcrumb">
            <li><a href="{% url 'courses' %}">All courses</a></li>    
            <li><a href="{% url 'courses' %}">Kommentin aid oldugu kursun adi</a></li>            
            <li class="active">Delete comment</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start respond form -->
                <div class="row">
                  <div class="col-md-12">
                    <div id="respond">
                      <h3 class="reply-title">Delete Comment</h3>
                      <form method="post" id="commentform">
                        {% csrf_token %}
                        {{ comment_form.non_field_errors }}
                        <!-- <p class="comment-notes">
                          Your email address will not be published. Required fields are marked <span class="required">*</span>
                        </p> -->
                        <!-- <p class="comment-form-author">
                          <label for="author">Name <span class="required">*</span></label>
                          <input type="text" required="required" size="30" value="" name="author">
                        </p>
                        <p class="comment-form-email">
                          <label for="email">Email <span class="required">*</span></label>
                          <input type="email" required="required" aria-required="true" value="" name="email">
                        </p>
                        <p class="comment-form-url">
                          <label for="url">Website</label>
                          <input type="url" value="" name="url">
                        </p> -->
                        <p class="comment-form-comment">
							{{ object.comment }}
                        </p>
                        <!-- <p class="form-allowed-tags">
                          You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code>
                        </p> -->
                        <p class="form-submit">
                          <input type="submit" value="Delete Comment" class="mu-post-btn" name="submit">
                          <input type='hidden' name="course_slug" value="{{ object.course.slug }}" />
                        </p>        
                      </form>
                    </div>
                  </div>
                </div>
                <!-- end respond form -->

              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                {% include "sidebar.html" %}
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock %}