{% extends 'base.html' %}
{% load static %}
{% block content %}
   
<section class="gl">
  <div class="container">
    <div class="col-xs-12">
      <h1 class="main-title">Videolar</h1>
      <p class="text-center">Biliklərinizi artırmaq üçün texniki sahədə 50-dən çox videolar.</p>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="search">
          <h6>KURSUNUZU AXTARIN</h6>
          <span>Kursu və ya müəllimin adını daxil edin</span>
          <form action="{% url 'search' %}" method="GET">
            <div class="cs-input-area form-group">
              <div class="cs-input-holder">
                <i class="icon-search"></i>
                <input type="text" class="form-control" name="search_name" placeholder="Kursun adı">
              </div>
              <br>
           
              <button class="btn-16 "><span>Axtar</span></button>
            </div>
          </form>
        </div>
        <br>
        <div id="accordion">
          {% for category in categories %}
          {% if category.parent_cat is null %}

          <div class="card">
            <div class="card-header" id="heading{{category.id}}">
              <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse{{category.id}}"
                  aria-expanded="true" aria-controls="collapse{{category.id}}"
                  style="text-decoration:none ; color: black;">
                  {{category.title}}
                </button>
              </h5>
            </div>

            <div id="collapse{{category.id}}" class="collapse show" aria-labelledby="heading{{category.id}}"
              data-bs-parent="#accordion">
              <div class="card-body">
                {% for subcat in categories %}
                {% if subcat.parent_cat == category %}
                <ul class="mCustomScrollbar" data-mcs-theme="dark">
                  <li>
                    <div class="checkbox">
                      <input id="checkbox{{subcat.id}}" type="checkbox">
                      <label for="checkbox{{subcat.id }}">{{subcat}}</label>
                    </div>
                  </li>
                </ul>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-8">
        <div class="cards row mt-5">
          {% for course in courses %}
          <div class="card mx-0 px-0 course mb-5 border-0" style="width: 16rem;">
            <a href="" class="card-image">
              <img class="card-img-top" src="{{course.image.url}}" alt="Course Title" />
            </a>

            <div class="card-body">
              <p class="duration">{{course.course_duration|time:"H:i:s"}}</p>
              <a href="{% url 'single_courses' slug=course.slug%}">
                <h5 class="card-title">{{course.title}}</h5>
              </a>
              {% comment %}
              <p class="card-text">{{courses.course_comments.rating}}</p>
              {% endcomment %}
              <div class="price">
                {% if course.discount %}
                <h5>{{course.discounted_price}}</h5>
                <div style="font-size: 10px; margin-left: 3px;">AZN</div>&nbsp;&nbsp;
                <del>{{course.price}}</del>
                <div style="font-size: 10px; margin-left: 3px;">AZN</div>
                {% else %}
                <span>{{course.price}}</span>
                <div style="font-size: 10px; margin-left: 3px;">AZN</div>
                {% endif %}
                {% if course.discount.percentage  %}
                <div
                  style="margin-top: 8px; font-size: 13px; padding: 2px 6px 2px 2px; margin-left: 12px; background-color: rgb(255, 240, 241); border-radius: 4px; color: rgb(255, 71, 70);">
                  <span> <i class="uil uil-arrow-down"></i> {{ course.discount.percentage }} % </span>
                </div>
                {% elif course.discount.value %}
                <div class="pro-type sell">
                  <span> {{ course.discount.value }} </span>
                </div>
                {% endif %}
              </div>

              <a href="#">
                <a href="{% url 'author_detail' course.author.id %}"><h6 class="card-text">{{course.author}}</h6></a>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="pagnation-ul ">
              <ul class="pagination clearfix">
                {% if page_obj.has_previous %}
                <li>
                  <a class="first-last" page="1"><i class="mdi mdi-menu-left"></i>First</a>
                  <a id="previous" page="{{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                <li>

                  <a class="btn page_num page-item">{{page}}</a>

                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li>
                  <a id="next" page="{{ page_obj.next_page_number }}">Next</a>
                  <a class="first-last" page="{{ page_obj.paginator.num_pages }}">Last<i
                      class="mdi mdi-menu-right"></i></a>
                </li>
                {% endif %}
              </ul>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}

<!-- other pagination version -->
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" id="previous" page="{{ page_obj.previous_page_number }}" >Previous</a></li>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
    <li class="page-item"><a class="page-link btn page_num" >{{page}}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}

    <li class="page-item"><a id="next" page="{{ page_obj.next_page_number }}" class="page-link" >Next</a></li>
    {% endif %}
  </ul>
</nav> -->