{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>{{ course.title }}</h2>
           <ol class="breadcrumb">
            <li><a href="{% url 'courses' %}">All courses</a></li>           
            <li class="active">{{ course.title }}</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#"><img src="{{course.image.url }}" alt="img"></a>
                          <figcaption class="mu-latest-course-imgcaption">
                            <a href="#">{{ course.category }}</a>
                            <span><i class="fa fa-clock-o"></i>{{course.course_duration|time:"H:i:s"}}</span>
                            
                          </figcaption>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <h2><a href="#">{{ course.title }}</a></h2>
                          <h4>Course Information</h4>
                          <ul>
                            <li> <span>Course Price</span> <span>${{ course.discounted_price }}</span></li>
                            <!-- <li> <span>Place</span> <span>California,USA</span></li> -->
                            <li> <span>Total Students</span> <span>800+</span></li>
                            <!-- <li> <span>Course Duration</span> <span>{{course.course_duration|time:"H:i:s"}}</span></li> -->
                            <!-- <li> <span>Course Start</span> <span>July 25, 2016</span></li> -->
                          </ul>
                          <h4>Description</h4>
                            <p>{{ course.about|safe|truncatechars:500}}</p>
                          {% if permit %}
                          <h4>Course Outline</h4>
                          <div class="table-responsive">
                            <table class="table">
                            <thead>
                              <tr>
                                <th> Title </th>
                                <th> Lesson count </th>
                                <th> Duration </th>
                                <th> Status </th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for chapter in course_chapters %}
                              <tr>
                                <td> {{ chapter.title }} </td>
                                <td> {{ chapter.lesson_count }} </td>
                                <td> {{ chapter.chapter_duration|time:"H:i:s"}} </td>
                                <td> Successful </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          </div>
                          {% endif %}
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start related course item -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="mu-related-item">
                  <h3>Related Courses</h3>
                  <div class="mu-related-item-area">
                    <div id="mu-related-item-slide">

                      {% for course in related_courses %}
                      <div class="col-md-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="{% url 'single_courses' slug=course.slug%}"><img src="{{course.image.url }}" alt="img" width="340" height="250"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="{% url 'single_courses' slug=course.slug%}">{{ course.category }}</a>
                              <span><i class="fa fa-clock-o"></i>{{course.course_duration|time:"H:i:s"}}</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4><a href="{% url 'single_courses' slug=course.slug%}">{{ course.title }}</a></h4>
                            <p>{{ course.description|safe|truncatechars:141}}</p>
                            <div class="mu-latest-course-single-contbottom">
                              <a class="mu-course-details" href="{% url 'single_courses' slug=course.slug%}">{{course.author}}</a>
                              <!-- <span class="mu-course-price" href="{% url 'single_courses' slug=course.slug%}"> <del> {{ course.price }} </del></span> -->
                              <span class="mu-course-price"> {{ course.discounted_price }} </span>
                            </div>
                          </div>
                        </div> 
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
                  </div>
                </div>
                <!-- end start related course item -->

                <!-- start course comment -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="mu-comments-area">
                      <h3>{{ comments|length }} Comments</h3>
                      <div class="comments">
                        <ul class="commentlist">
                          {% for comment in comments %}
                          <li>
                            <div class="media">
                              <div class="media-left">    
                                <img alt="img" src="{{comment.user.image.url}}" class="media-object news-img">
                              </div>
                              <div class="media-body">
                               <h4 class="author-name">{{ comment.user.username}}</h4>
                               <span class="comments-date"> Posted on {{ comment.created_at }}</span>
                               <p> {{ comment.comment }} </p>
                               {% if comment.user == user %}
                               <a class="reply-btn" href="{% url 'edit_comment' comment.id %}">Edit <span class="fa fa-edit"></span></a>
                               <a class="reply-btn" href="{% url 'delete_comment' comment.id %}">Delete <span class="fa fa-trash"></span></a>
                               {% endif %}
                              </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                        <!-- comments pagination -->
                        <nav>
                          <ul class="pagination comments-pagination">
                            <li>
                              <a aria-label="Previous" href="#">
                                <span class="fa fa-long-arrow-left"></span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a aria-label="Next" href="#">
                                <span class="fa fa-long-arrow-right"></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end course comment -->
                <!-- start respond form -->
                <div class="row">
                  <div class="col-md-12">
                    <div id="respond">
                      <h3 class="reply-title">Leave a Comment</h3>
                      <form method="post" id="commentform">
                        {% csrf_token %}
                        {{ comment_form.non_field_errors }}
                        <!-- <p class="comment-notes">
                          Your email address will not be published. Required fields are marked <span class="required">*</span>
                        </p> -->
                        <!-- <p class="comment-form-author">
                          <label for="author">Name <span class="required">*</span></label>
                          <input type="text" required="required" size="30" value="" name="author">
                        </p>
                        <p class="comment-form-email">
                          <label for="email">Email <span class="required">*</span></label>
                          <input type="email" required="required" aria-required="true" value="" name="email">
                        </p>
                        <p class="comment-form-url">
                          <label for="url">Website</label>
                          <input type="url" value="" name="url">
                        </p> -->
                        <p class="comment-form-comment">
                          {{ comment_form.comment }}
                        </p>
                        <!-- <p class="form-allowed-tags">
                          You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code>
                        </p> -->
                        <p class="form-submit">
                          <input type="submit" value="Post Comment" class="mu-post-btn" name="submit">
                        </p>        
                      </form>
                    </div>
                  </div>
                </div>
                <!-- end respond form -->

              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3></h3>
                    <ul class="mu-sidebar-catg">
                      <li><a href="{% url 'courses' %}">All courses<span>({{ all_courses|length }})</span></a></li>
                      <li><a href="{% url 'courses' %}?{{request.GET.urlencode}}&discount=ok">Discounted courses<span>({{ discounted_courses|length }})</span></a></li>
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Categories</h3>
                    <ul class="mu-sidebar-catg">
                      {% for category in categories %}
                      <li><a href="{% url 'courses' %}?{{request.GET.urlencode}}&category_id={{category.id}}">{{ category }}<span>({{ category.number_of_courses }})</span></a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Popular Course</h3>
                    <div class="mu-sidebar-popular-courses">
                      {% for course in popularcourses %}
                      <div class="media">
                        <div class="media-left">
                          <a href="{% url 'single_courses' slug=course.slug%}">
                            <img class="media-object" src="{{course.image.url }}" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="{% url 'single_courses' slug=course.slug%}">{{ course.title }}</a></h4>                      
                          <span class="popular-course-price">{{ course.discounted_price }}</span>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Authors</h3>
                    <ul class="mu-sidebar-catg mu-sidebar-archives">
                      {% for author in authors %}
                      <li><a href="{% url 'courses' %}?{{request.GET.urlencode}}&author_id={{author.id}}">{{ author.name }} <span>({{ author.number_of_courses }})</span></a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Tags</h3>
                    <div class="tag-cloud">
                      {% for tag in tags %}
                      <a href="{% url 'courses' %}?{{request.GET.urlencode}}&tag_id={{tag.id}}">{{ tag }}</a>
                      {% endfor %}
                    </div>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock %}