{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>{{ course.title }}</h2>
           <ol class="breadcrumb">
            <li><a href="{% url 'courses' %}">All courses</a></li>           
            <li class="active">{{ course.title }}</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
    {% if messages %}
    <div class="alert alert-warning" alert-{{ message.tags }} role="alert">
    {% for message in messages  %}
      {{message|safe}} - <a href="{% url 'wishlist' %}" class="alert-link">Bəyəndiklərim siyahısı</a>.
    {% endfor %}
    </div>
    {% endif %}
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#">
                            {% video course.teaser '850x320' %}
                          </a>

                          <figcaption class="mu-latest-course-imgcaption">
                            <a href="#">{{ course.category }}</a>
                            <span><i class="fa fa-clock-o"></i>{{course.course_duration|time:"H:i:s"}}</span>                           
                          </figcaption>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <div class="course-information">
                            <h2><a href="#">{{ course.title }}</a>
                              </h2> 
                             
                          </div>
                          <div class="course-information">
                            {% if permit %}
                               
                            {% else %}
                              {% if course.discounted_price == 0 %}
                              <a style="margin: 1%;" data="{{course.id}}" class="add_to_cart">Kurslarıma əlavə et</a>

                              {% else %}

                              <a style="margin: 1%;" data="{{course.id}}" class="add_to_cart">Səbətə əlavə et</a>

                              {% if wishlist %}
                              <a href="{% url 'user_wishlist' course.id  %}" style="margin: 1%;" class="add_to_wishlist">Sevimlilərdən çıxar</a>
                              {% else %}
                              <a href="{% url 'user_wishlist' course.id  %}" style="margin: 1%;" class="add_to_wishlist">Sevimlilərə əlavə et</a>
                              {% endif %}
                              
                              {% endif %}
                            {% endif %}
                          </div>
                          <h4>Course Information</h4>
                          <ul>
                            <li> <span>Course Price</span> <span>${{ course.discounted_price }}</span></li>
                            <!-- <li> <span>Place</span> <span>California,USA</span></li> -->
                            <li> <span>Total Students</span> <span>800+</span></li>
                            <!-- <li> <span>Course Duration</span> <span>{{course.course_duration|time:"H:i:s"}}</span></li> -->
                            <li> <span>Author</span> <span>{{course.author}}</span></li>
                          </ul>
                          <h4>Description</h4>
                            <p>{{ course.about|safe|truncatechars:500}}</p>
                          <h4>Course Content</h4>
                          <div class="table-responsive">
                            {% for chapter in course_chapters %}

                            <div class="list-group">
                              <a class="list-group-item list-group-item-action" style="display: flex; justify-content:space-between;">{{ chapter.title }} 
                                <div>
                                <i class="fa fa-clock-o"></i> {{chapter.chapter_duration|time:"H:i:s"}}</div>
                              </a>
                              {% for lesson in chapter.chapter_lessons.all %}

                              {% if permit %}
                              <div class="list-group-item list-group-item-action list-group-item-info"  style="display: flex; justify-content:space-between;">
                                <a href="{{lesson.video}}">{{ lesson.title }}</a>
                                <div><i class="fa fa-clock-o"></i>  {{lesson.lesson_duration|time:"H:i:s"}}</div> 
                              </div>
                              {% else %}
                              <div class="list-group-item list-group-item-action list-group-item-info" style="display: flex; justify-content:space-between;">
                                <div><i class="fa fa-key" aria-hidden="true"></i>
                                <a href="{% url '404' %}">{{ lesson.title }}</a></div>
                                <div><i class="fa fa-clock-o"></i>  {{lesson.lesson_duration|time:"H:i:s"}}</div> 
                              </div>
                              {% endif %}

                              {% endfor %}
                            </div>

                            {% endfor %}
                          </div>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start related course item -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="mu-related-item">
                  <h3>Related Courses</h3>
                  <div class="mu-related-item-area">
                    <div id="mu-related-item-slide">

                      {% for course in related_courses %}
                      <div class="col-md-6">
                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="{% url 'single_courses' slug=course.slug%}"><img src="{{course.image.url }}" alt="img" width="340" height="250"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="{% url 'single_courses' slug=course.slug%}">{{ course.category }}</a>
                              <span><i class="fa fa-clock-o"></i>{{course.course_duration|time:"H:i:s"}}</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4><a href="{% url 'single_courses' slug=course.slug%}">{{ course.title }}</a></h4>
                            <p>{{ course.description|safe|truncatechars:141}}</p>
                            <div class="mu-latest-course-single-contbottom">
                              <a class="mu-course-details" href="{% url 'single_courses' slug=course.slug%}">{{course.author}}</a>
                              <!-- <span class="mu-course-price" href="{% url 'single_courses' slug=course.slug%}"> <del> {{ course.price }} </del></span> -->
                              <span class="mu-course-price"> {{ course.discounted_price }} </span>
                            </div>
                          </div>
                        </div> 
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
                  </div>
                </div>
                <!-- end start related course item -->

                <!-- start course comment -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="mu-comments-area">
                      <h3>{{ comments|length }} Comments</h3>
                      <div class="comments">
                        <ul class="commentlist">
                          {% for comment in comments %}
                          <li>
                            <div class="media">
                              <div class="media-left">    
                                <img alt="img" src="{% if request.user.image %}{{request.user.image.url}}{% else %}{% static 'assets/img/default_pic.webp' %}{% endif %}" class="media-object news-img">
                              </div>
                              <div class="media-body">
                               <h4 class="author-name">{{ comment.user.username}}</h4>
                               <span class="comments-date"> Posted on {{ comment.created_at }}</span>
                               {% if comment.rating == 5 %}
                               <span class="ratingsymbol">&#9733 &#9733 &#9733 &#9733 &#9733</span>
                               {% elif comment.rating == 4 %}
                               <span class="ratingsymbol">&#9733 &#9733 &#9733 &#9733</span>
                               {% elif comment.rating == 3 %}
                               <span class="ratingsymbol">&#9733 &#9733 &#9733</span>
                               {% elif comment.rating == 2 %}
                               <span class="ratingsymbol">&#9733 &#9733</span>
                               {% elif comment.rating == 1 %} 
                               <span class="ratingsymbol">&#9733</span>
                               {% endif %}
                               <p> {{ comment.comment }} </p>
                               {% if comment.user == user %}
                               <a class="reply-btn" href="{% url 'edit_comment' comment.id %}">Edit <span class="fa fa-edit"></span></a>
                               <a class="reply-btn" href="{% url 'delete_comment' comment.id %}">Delete <span class="fa fa-trash"></span></a>
                               {% endif %}
                              </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                        <!-- comments pagination -->
                        <nav>
                          <ul class="pagination comments-pagination">
                                {% if page_obj.has_previous %}
                                <li><a class="pagination-links" data-page="{{ page_obj.previous_page_number }}" href="?page={{ page_obj.previous_page_number }}{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}                 {% if request.GET.color_id %}&color_id={{ request.GET.color_id }}{% endif %}              {% if request.GET.tag_id %}&tag_id={{request.GET.tag_id}}{% endif %}          {% if request.GET.brand_id %}&brand_id={{request.GET.brand_id}}{% endif %}"><i class="fa fa-angle-left"></i></a></li>
                                {% endif %}
                              {% for page in page_obj.paginator.page_range %}
                            
                                {% if page is page_obj.number %}
                                  <li class="active"><a href="?page={{ page }}{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}                 {% if request.GET.color_id %}&color_id={{ request.GET.color_id }}{% endif %}              {% if request.GET.tag_id %}&tag_id={{request.GET.tag_id}}{% endif %}          {% if request.GET.brand_id %}&brand_id={{request.GET.brand_id}}{% endif %}">{{page}}</a></li>
                                {% else %}
                                  <li><a class="pagination-links" data-page="{{page}}" href="?page={{ page }}{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}                 {% if request.GET.color_id %}&color_id={{ request.GET.color_id }}{% endif %}              {% if request.GET.tag_id %}&tag_id={{request.GET.tag_id}}{% endif %}          {% if request.GET.brand_id %}&brand_id={{request.GET.brand_id}}{% endif %}">{{page}}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if page_obj.has_next %}
                              <li><a class="pagination-links" data-page="{{ page_obj.next_page_number }}" href="?page={{ page_obj.next_page_number }}{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}                 {% if request.GET.color_id %}&color_id={{ request.GET.color_id }}{% endif %}              {% if request.GET.tag_id %}&tag_id={{request.GET.tag_id}}{% endif %}          {% if request.GET.brand_id %}&brand_id={{request.GET.brand_id}}{% endif %}"><page class="fa fa-angle-right"></i></a></li>
                              {% endif %}
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end course comment -->
                <!-- start respond form -->
                <div class="row">
                  <div class="col-md-12">
                    <div id="respond">
                      {% if permit %}
                      <h3 class="reply-title">Leave a Comment</h3>
                      <form method="post" id="commentform">
                        {% csrf_token %}
                        {{ comment_form.non_field_errors }}
                        <!-- <p class="comment-notes">
                          Your email address will not be published. Required fields are marked <span class="required">*</span>
                        </p> -->
                        <!-- <p class="comment-form-author">
                          <label for="author">Name <span class="required">*</span></label>
                          <input type="text" required="required" size="30" value="" name="author">
                        </p>
                        <p class="comment-form-email">
                          <label for="email">Email <span class="required">*</span></label>
                          <input type="email" required="required" aria-required="true" value="" name="email">
                        </p>
                        <p class="comment-form-url">
                          <label for="url">Website</label>
                          <input type="url" value="" name="url">
                        </p> -->
                        <p class="comment-form-comment">
                          {{ comment_form.comment }}
                        </p>
                        <!-- <p class="form-allowed-tags">
                          You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code>
                        </p> -->
                        <div class="star-rating">
                          <input type="radio" id="5-stars" name="rating" value="5" />
                          <label for="5-stars" class="star">&#9733;</label>
                          <input type="radio" id="4-stars" name="rating" value="4" />
                          <label for="4-stars" class="star">&#9733;</label>
                          <input type="radio" id="3-stars" name="rating" value="3" />
                          <label for="3-stars" class="star">&#9733;</label>
                          <input type="radio" id="2-stars" name="rating" value="2" />
                          <label for="2-stars" class="star">&#9733;</label>
                          <input type="radio" id="1-star" name="rating" value="1" />
                          <label for="1-star" class="star">&#9733;</label>
                        </div>
                        <p class="form-submit">
                          <!-- <input type="hidden" id="user" name="user" value={{ user.id }} > -->
                          <input type="hidden" id="star_value" name="star_value" value="5" >
                          <input type='hidden' name="course_id" value="{{ course.id }}" />
                          <input type="submit" value="Post Comment" class="mu-post-btn" name="submit">
                        </p>        
                      </form>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <!-- end respond form -->

              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                {% include "sidebar.html" %}
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock %}