{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<section class="gl">


    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="search">
                    <h6>KURSUNUZU AXTARIN</h6>
                    <span>Kursu və ya müəllimin adını daxil edin</span>
                    <form action="{% url 'search' %}" method="GET">
                        <div class="cs-input-area form-group">
                            <div class="cs-input-holder">
                                <i class="icon-search"></i>
                                <input type="text" class="form-control" name="search_name" placeholder="Kursun adı">
                            </div>
                            <br>
                            <select data-placeholder="İstiqamət seçin" class="chosen-select form-control" tabindex="5">
                                <option value="">İstiqamət seçin</option>
                                {% for category in categories %}
                                {% for subcat in categories %}
                                {% if subcat.parent_cat == category %}

                                <option value="">{{subcat.title}}</option>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                            </select>
                            <br>
                            <button class="btn-16 "><span>Axtar</span></button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-lg-9" style="background: #1B252D;">
                <div class="section">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-6">
                            <div class="preview-video mb-4">
                                <div class="course-overplay">
                                    {% video course.teaser 'tiny' %}
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-6">
                            <div class="_212">
                                <h2>{{course.title}}</h2>
                                <span class="_212">{{course.description}}</span>
                            </div>
                            <br>
                            <div class="_212">
                                {% if course.discount %}
                                <span style="font-size: 14px; font-weight: 600;">
                                    {{course.discounted_price}} AZN
                                </span>
                                <span
                                    style="text-decoration: line-through rgb(253, 138, 136); font-size: 13px; margin-left: 10px;">
                                    {{course.price}} AZN
                                </span>
                                {% else %}
                                <span
                                    style="text-decoration: line-through rgb(253, 138, 136); font-size: 13px; margin-left: 10px;">
                                    {{course.price}} AZN
                                </span>
                                {% endif %}
                                {% if course.discount.percentage  %}
                                <span
                                    style="margin-top: 8px; font-size: 13px; padding: 2px 6px 2px 2px; margin-left: 12px; background-color: rgb(255, 240, 241); border-radius: 4px; color: rgb(255, 71, 70);">
                                    {{course.discount.percentage}} %
                                </span>
                                {% elif course.discount.value %}
                                <span
                                    style="margin-top: 8px; font-size: 13px; padding: 2px 6px 2px 2px; margin-left: 12px; background-color: rgb(255, 240, 241); border-radius: 4px; color: rgb(255, 71, 70);">
                                    {{course.discount.value}} AZN
                                </span>
                                {% endif %}
                                <span class="time">{{course.course_duration|time:"H:i:s"}}</span>
                            </div>
                            <br>
                            {% comment %}
                            <div class="_212">
                                {{courses.course_comments.rating}}
                            </div>
                            {% endcomment %}
                            <br>
                            <div class="_213">
                                <i class="fa-solid fa-comment"></i>
                                <span>{{course.language}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="_214">
        <div class="container-fluid">
            <div class="row" style="margin-left: 25%;">
                <div class="col-lg-12">
                    <div class="user">
                        <div class="user-lf">
                            <div class="author">
                                <div class="user-img">
                                    <!-- <a href="#"></a> -->
                                </div>
                                <div class="user-name">
                                    <a href="#" style="text-decoration: none; color:black;">{{course.author}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="course-tabs">
                    <div class="nav nav-tabs justify-content-center" role="tablist">
                        <a href="#desc" role="tab" class="nav-item nav-link active"
                            style="cursor:pointer; color: black;">Haqqında</a>
                        <a href="#content" role="tab" class="nav-item nav-link "
                            style="cursor:pointer; color: black;">Kurs
                            kontent</a>
                        <a href="#rating" role="tab" class="nav-item nav-link "
                            style="cursor:pointer; color: black;">Comments</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <div class="course-tab-content">
                    <div class="tab-content">
                        <!-- <div id="desc" style="height:40px;margin-top:-60px;z-index:-1;position:relative"></div> -->
                        <div id="desc" class="tab-pane fade show active" role="tabpanel">
                            <div>
                                <div>
                                    {{course.about}}
                                </div>
                            </div>
                        </div>
                        <div style="height:40px;"></div>
                        <div class="tab-pane fade show active" role="tabpanel">
                            <div id="content" class="course-content">
                                <h3>Kurs kontenti</h3>
                                {% for chapter in course_chapters %}                            
                                <div class="ui-accordion ui-widget ui-helper-reset">
                                    <div class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                        <div class="section-header-left">
                                            <span class="section-title-wrapper">
                                                <i class="fa-solid fa-clapperboard"></i>
                                                
                                                <span class="section-title-text">{{ chapter.title }}</span>
                                            </span>
                                        </div>
                                        <div class="section-header-right">
                                            {% if chapter.lesson_count > 1 %}
                                            <span class="num-items-in-section"> {{ chapter.lesson_count }} lessons</span>
                                            {% elif chapter.lesson_count == 1 %}
                                            <span class="num-items-in-section"> {{ chapter.lesson_count }} lesson</span>
                                            {% else %}
                                            <span class="num-items-in-section"> There is no lesson in this chapter</span>
                                            {% endif %}
                                            <br>
                                            <span class="section-header-length">{{ chapter.chapter_duration|time:"H:i:s"}}</span>
                                        </div>
                                    </div>
                                    {% for lesson in chapter.chapter_lessons.all %}
                                    <div class="ui-accordion-content  ui-helper-reset ui-widget-content ui-corner-bottom">
                                        <div class="lecture-container">
                                            <div class="left-content">
                                                <i class="fa-solid fa-file"></i>
                                                <div class="top">
                                                    <a href="{{ lesson.video }}" style="text-decoration:none" >
                                                        <div class="title">{{ lesson.title }}</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <span class="content-summary">{{ lesson.lesson_duration|time:"H:i:s"}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class=" tab-pane fade show active">
                            <br>
                            <div id="rating" class="row reviews mt-4 ">
                                <div class="col-6">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{ comment_form.non_field_errors }}
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="custom-mess">
                                                    {{ comment_form.comment }}
                                                </div>
                                                <div >
                                                    <select style="margin-bottom: 20px;" class="btn btn-success" name='star_value'>
                                                        <option selected="selected" id="rating_1" disabled>Click to select rating</option>
                                                        <option value="1"><b>&#9733;</b></option>
                                                        <option value="2"><b>&#9733; &#9733;</b></option>
                                                        <option value="3"><b>&#9733; &#9733; &#9733;</b></option>
                                                        <option value="4"><b>&#9733; &#9733; &#9733; &#9733;</b></option>
                                                        <option value="5"><b>&#9733; &#9733; &#9733; &#9733; &#9733;</b></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="submit-text">
                                                    <button class="btn-16" type="submit">submit review</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                {% for comment in comments %}
                                <div class="card col-6">
                                    <h5 class="card-header">{{ user.username }} </h5>
                                    
                                    <div class="card-body">
                                        <h6>{{ comment.created_at }}</h6>
                                        <h5 class="card-title">{{ comment.rating }}- star</h5>
                                      <p class="card-text">{{ comment.comment }}</p>
                                      {% if comment.user.id == user.id %}
                                      <a href="{% url 'edit_comment' comment.id %}" class="btn btn-primary" >EDIT</a>
                                      <a href="{% url 'delete_comment' comment.id %}" class="btn btn-primary" >DELETE</a>
                                      {% endif %}
                                    </div>
                                </div>
                                {% empty %}
                                <div class="card">                                    
                                    <div class="card-body">
                                        <h5>No Reviews Yet</h5>
                                    </div>
                                </div>
                                {% endfor %}

                                <!-- <div id="rating" style="height:100px;margin-top:-80px"></div>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="reviews-left">
                                            <h3>İstifadəçi rəyləri</h3>
                                            <div class="total-rating">
                                                <div class="_rate001">rate</div>
                                                <div class="rating-box">
                                                    stars for number
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="review-right">
                                            <div class="review-right-heading">
                                                <h3>Rəylər</h3>
                                            </div>
                                            <div class="reviews">
                                                <div class="review-item">
                                                    <div class="username">
                                                        username of review
                                                    </div>
                                                    <div class="rating-box">
                                                        rate of user
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
{% endblock %}











{% comment %}
<!-- <div class="col-4">
    {% video courses.teaser '450x300' %}

</div> -->



<!-- <h1> testing 1 ____________________________________________ </h1>

{% for tag in course_tags %}
   {{ tag }}
   <br>
 {% endfor %}

 <h1> testing 2 ____________________________________________ </h1>

 {% for chapter in course_chapters %}
    <ul>{{ chapter }}</ul>
      {% for lesson in chapter.chapter_lessons.all %}
         <li>{{ lesson }}</li>
         <p>{{ lesson.chapter }}</p>
         <p>{{ lesson.title }}</p>
         <p>{{ lesson.video }}</p>
         <p>{{ lesson.hour }}</p>
         <p>{{ lesson.minute }}</p>
         <p>{{ lesson.second }}</p>
         <p>{{ lesson.duration }}</p>


      {% endfor %}
    <br>
  {% endfor %}

 <h1> test ____________________________________________ </h1>

    {{ course.id }}
    <br>
    {{ course.category }}
    <br>
    {{ course.discount }}
    <br>
    {{ course.title }}
    <br>
    {{ course.image }}
    <br>
    {{ course.author }}
    <br>
    {{ course.description }}
    <br>
    {{ course.about }}
    <br>
    {{ course.language }}
    <br>
    {{ course.price }}
    <br>
    {{ course.discounted_price }}
    <br>
    {{ course.teaser }}
    <br>
    {{ course.is_active }}
    <br>
    {{ course.duration }}
    <br>


{% endblock %} -->

{%  endcomment %}
